In [61]:
# Import packages
import pandas as pd
import numpy as np

In [111]:
# Read excel file
df=pd.read_excel('ncsr.xlsx')
# Cut off bottom
df=df[:len(df_cut)-7]
df.tail()

,Y,Psychiatrist,Med doctor,Psychologist,Social worker,Mental health pro,Non med pro,Spiritual Advisor,Healer,Counselor,...,D26Z,D26AA,D26BB,D26CC,D26DD,D26EE,D26FF,D26GG,D26HH,D26II
1800,1,0,0,0,0,0,0,1,0,0,...,1,1,1,1,5,5,1,1,1,1
1801,1,0,0,0,0,0,0,1,0,0,...,1,1,1,1,1,5,1,1,1,5
1807,0,0,1,0,0,0,0,0,0,0,...,5,5,5,5,NaN,NaN,1,1,1,1
1810,0,0,1,0,0,0,0,0,0,0,...,1,1,1,1,5,1,1,1,5,1
1825,1,0,0,1,0,0,0,0,0,0,...,1,1,5,5,NaN,NaN,5,1,1,1

In [118]:
# Variables assigned
features=['D26I','D26K','D26M','D26N','D26O','D26Q','D26V','D26DD','D26EE']

In [119]:
# Replace all 5's with 0's
df[features]=df[features].replace(5, 0)

In [122]:
# Replace all negative numbers with mean (0.5)
df[features]=df[features].replace([-7,-8,-9], 0.5)
# Replace all NaN's with mean (0.5)
df[features]=df[features].fillna(0.5)